!/tests_files/*.csv
!/tests_files/*.jpg
!/tests_files/*.xml
!/gui-examle/*.png

generates
server_generates

*.lock
*.jpg
*.jpeg
*.txt
*.csv
*.png
*.xls*
*.xml
*.pot
*.mo
*.db
*build*

*/*/*.xml
*/*/__pycache__